body {
	font-family: Helvetica, Arial, san-serif;
	font-size: 14px;
	line-height: 1.3em;
	background-color: #ffffff;
}

.card {
	position:relative;
	width: 300px;
	padding: 10px;
	margin: auto;
	margin-top: 40px;
	background: #1f1f2e;
	border: 7px solid #b6762d;
	border-radius: 10px;
	box-shadow: 
		0 0 0 7px white,
		0px 0px 22px 3px rgba(0,0,0,0.15);
}

.card:hover {
  box-shadow: 
  	0 0 0 7px white, 
  	0px 0px 30px 4px  rgba(0, 0, 0, 0.3);
  cursor: default ;
}

/* adding the leaf icon in the corner  */

.symbol {
	position: absolute;
	top:0px;
	right: 0px;
	width: 50px;
	height: 45px;
	background-color: #1f1f2e;
	border-radius: 0px 0px 0px 30px;
}

.symbol::before {
	font-family: 'FontAwesome';
	content: "\f299";
	position: absolute;
	top: 13px;
	right: 7px;
  font-size: 2.1em;
	color:white;
}

p {
	margin: 0;
	padding: 0;
}

h3.name {
	margin: 0;
	padding: 0;
	margin-top:7px;
	margin-bottom: 20px;
	font-size: 2em;
	color: #ffffff;
}

.animal-image {
	display: block;
	width: 300px;
	margin: 0 0 10px;
	border-radius: 5px;
}


.info {
	margin: 0;
	padding: 15px 15px 18px 15px;
	background-color: white;
	color:  #4e2d11;
  border: 2px solid #b6762d;
  border-radius: 5px;
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list {
	margin-bottom: 10px;
	font-size: 11px;
  font-weight: 300;
}

.fun-fact {
	font-style: italic;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.3em;
	margin-bottom: 6px;
}

.list-label {
	font-weight: 500;
	color: #8a5518;
}

.description {
	line-height: 1.35;
}